extends layout

block left
	.markdown-body
		header
			!{showcase}
			.social-buttons(style='vertical-align: baseline')
				- if (githubButtons)
					!{githubButtons}
				a(href="https://twitter.com/share",class="twitter-share-button",data-text="Check out " +  packagejson.name + ', ' + packagejson.description ,data-via=dotTusk['twitter-user'],data-lang="en") Tweet
				script
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		br
		nav
			!{menu}

block right
	.markdown-body
		article
			!{content}
		br
		footer
			p Brought to you by &nbsp;
				a(href="https://github.com/lbdremy/tusk") Tusk
				.