!!! 5
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
  title=title
  meta(name='title',content=title)
  meta(name='description',content=description)
  meta(name='author',content=author)
  meta(name='keywords',content=keywords)
  meta(property='og:title',content=title)
  meta(property='og:type',content='website')
  meta(property='og:description',content=description)
  style= style
  script= script
body
  .grid
    .col-3-12
      block left
    .col-9-12
      block right
  //- Google Analytics
  - if (dotTusk && dotTusk['google-analytics-id'])
    - var gaScript = 'var _gaq = _gaq || [];_gaq.push([\'_setAccount\',  \'' + dotTusk['google-analytics-id'] + '\']);_gaq.push([\'_trackPageview\']);(function() {var ga = document.createElement(\'script\'); ga.type =  \'text/javascript\'; ga.async = true;ga.src = (\'https:\' == document.location.protocol ? \'https://ssl\' : \'http://www\') + \'.google-analytics.com/ga.js\';var s = document.getElementsByTagName(\'script\')[0]; s.parentNode.insertBefore(ga, s);})();';
    script
      !{gaScript}