h1.module-name= name

- if (locals.description)
	p
		b.module-description= description
- if (author || license || version)
	p
		- if (locals.version)
			span.module-version version !{version}
		&nbsp;
		- if (locals.author)
			span.module-author by !{author}
		&nbsp;
		- if (locals.license)
			span.module-licence licensed under !{license}
